@tailwind base;
@tailwind components;
@tailwind utilities;

.partidos:hover > .opciones, .estadisticas:hover > .opciones{
    display: flex;
    flex-direction: column;
}

.opciones{
   display: none;
}

