.partidos:hover > .opciones, .estadisticas:hover > .opciones{
    display: flex;
    flex-direction: column;
}

.opciones{
   display: none;
}

header nav ul{
    list-style: none;
}

header nav .active{
    color: #fff;
    background-color: #007bff;
    border-radius: 5px;
}